[tool.ruff]
line-length = 100
indent-width = 4

[tool.ruff.lint]
ignore = ["E741"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.pyright]
reportOptionalMemberAccess = false
reportArgumentType = false
reportAssignmentType = false
reportReturnType = false
reportAttributeAccessIssue = false
reportCallIssue = false
